<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
<section class="about-body">
 <div>
    <h1>Our Mession</h1>
    <p class="about-pera-1">To provide people valuaable and Beautiful Day</p>
</div>
<div class="about-div-2">
    <h2>About</h2>
    <p class="about-pera-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga similique dolore asperiores libero perferendis ratione, dolorum tenetur tempora, quia illo rerum consequuntur architecto doloribus accusantium. Provident modi alias minima dolores eligendi adipisci sit iure illum, obcaecati sapiente, labore tenetur reiciendis fugit! Odio non voluptas laboriosam fuga rem itaque, deserunt vero?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia delectus aut ullam totam consectetur fugiat facilis autem dolores maiores ratione? Quae nulla quis modi et odio quaerat vero distinctio dolorum inventore laboriosam enim, ducimus asperiores placeat. Quasi commodi minus, qui suscipit dolor iusto corrupti quia molestiae? Reiciendis earum quidem labore itaque, omnis, aliquam voluptas, natus harum ex similique hic ea quia ratione expedita dolorum. Ipsam obcaecati, deserunt nesciunt quod reiciendis soluta sed at nobis architecto nisi aspernatur asperiores optio natus laudantium modi rerum. Facere iure labore sed eligendi dolores doloribus nemo in nisi rerum neque placeat, veniam laboriosam enim repellat aspernatur quam dolorem officia exercitationem nam necessitatibus ab. Aspernatur voluptas non minima recusandae. Laboriosam alias magni cupiditate similique exercitationem. Odit esse autem veniam, vero a quasi. Qui impedit distinctio voluptates deleniti in adipisci reiciendis asperiores, rem voluptatum fugiat deserunt quos consectetur vitae laudantium, commodi dignissimos temporibus quam aperiam eius placeat!</p>
    <p style="margin-top: 80px;">2021 ©App bruewery</p>
</div>
</section>
</body>
</html>